body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
    overflow-x: hidden;
    height: 100vh;
}


#page-directors {
    position: fixed;
    top: 10px;
    left: 10px;
}

#page-directors a {
    text-decoration: none;
    color: #ffb7c5;
    font-size: 1.2rem;
    padding: 10px 15px;
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease;
}

#page-directors a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #ffb7c5;
    transition: width 0.3s ease-out;
}

#page-directors a:hover::after {
    width: 100%;
}

#page-directors a:hover {
    color: white;
}


#main-content {
    text-align: center;
    margin-top: 10%;
    font-family: Arial, sans-serif;
}

h1 {
    color: #ffb7c5;
    font-size: 3rem;
    margin-bottom: 20px;
    text-shadow: 0 0 10px rgba(255, 183, 197, 0.8);
}


#about-text-container {
    text-align: left;
    margin: 0 auto;
    padding: 20px;
    width: 60%;
    background-color: rgba(255, 183, 197, 0.1);
    color: #ffb7c5;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(255, 183, 197, 0.5);
    font-size: 1.2rem;
    line-height: 1.8;
}


#about-text-container a {
    color: #ffb7c5;
    text-decoration: underline;
    transition: color 0.3s ease;
}

#about-text-container a:hover {
    color: white;
}

#made-by {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 5px 10px;
    font-size: 0.9rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 9999;
    font-family: Arial, sans-serif;
}
