body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
    overflow-x: hidden;
    height: 100vh;
    position: relative;
}


#page-directors {
    position: fixed;
    top: 10px;
    left: 10px;
}


#page-directors a {
    text-decoration: none;
    color: #ffb7c5;
    font-size: 1.2rem;
}



#main-content {
    text-align: center;
    margin-top: 20%;
    font-family: "Arial", sans-serif;
}


h1 {
    color: #ffb7c5;
    font-size: 3rem;
}


p {
    color: #dcdcdc;
    font-size: 1.2rem;
}

#made-by{
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 5px 10px;
    font-size: 0.9rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 9999;
    font-family: Arial, sans-serif;
}


#page-directors {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    gap: 15px;
    z-index: 10;
}

#page-directors a {
    text-decoration: none;
    color: #ffb7c5;
    font-size: 1rem;
    padding: 10px 15px;
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease;
}

#page-directors a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #ffb7c5;
    transition: width 0.3s ease-out;
}

#page-directors a:hover::after {
    width: 100%;
}

#page-directors a:hover {
    color: #ffb7c5;
    background-color: transparent;
}
