<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kaizen - Groupie Tracker</title>
    <link rel="stylesheet" href="Menu.css">
</head>
<body>


<div id="page-directors">
    <a href="#home">Home</a>
    <a href="#about">About</a>
    <a href="#contact">Contact</a>
</div>


<div id="gif-container">
    <img src="fuji.gif" alt="Mount Fuji GIF" loading="lazy">
    <div id="overlay-text">
        <h1>Kaizen</h1>
        <h2>Groupie Tracker</h2>
    </div>
</div>




<div id="main-page-button-container">
    <a href="Main.html" id="main-page-button">Explore More</a>
</div>


<div id="music-quote-container">
    <div id="music-quote">
        <p>"When words leave off, music begins."</p>
    </div>    
</div>

<div id="page-transition-overlay"></div>


<script src="Menu.js"></script>
</body>
</html>