<html lang="eng">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="/static/css/artist.css">
    <title>Groupie Tracker: {{.Name}}</title>
</head>

<body>
     <div id="page-directors">          
        <a href="/index" id="main-page-button">Back To Artists</a>
    </div>

    <div class="title">
        <h2>{{.Name}}</h2>
    </div>

    <div class="wrapper">
        <div class="profile">
            <img class="profile__img" src={{.Image}} alt="band">
        </div>

        <div class="text">
            <h3>Founded:</h3>
            <p>{{.CreationDate}}</p>
            <h3>First Album:</h3>
            <p>{{.FirstAlbum}}</p>
            <h3>Members:</h3>
            <ul>
                {{range .Members}}
                <li>{{.}}</li>
                {{end}}
            </ul>
        </div>

        <div class="concerts">
            <h3>Concerts:</h3>
            {{range $key, $value := .Relations}}
            <table>
                <tr class="location">
                    <td><a href="#{{$key}}"><u>&#9660 {{$key}}</u></a></td>
                </tr>
                <tr class="date" id="{{$key}}">
                    <td>
                        {{range $value}}
                        <ul>
                            <li>{{.}}</li>
                        </ul>
                        {{end}}
                    </td>
                </tr>
            </table>
            {{end}}
        </div>
    </div>

  
    <div id="made-by">Made by Kaizen</div>
    
</body>
