<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/static/mainpage.css">
        <title>Groupie Tracker</title>
    </head>
<body>
    
    <div id="main-page-button-container">          
        <a href="/" id="main-page-button">Back Home</a>
    </div>

    
    <div id="main-content">
        <h1>Welcome to the Main Page!</h1>
        <p>This is where you will explore artists and their groups. Content coming soon!</p>
    </div>

    
    <div id="search-container">
        <form action="/search" method="POST">
            <input type="text" name="query" placeholder="Search for an artist, member, location" required>
            <input type="text" name="creation_date" placeholder="Creation Date (YYYY)">
            <input type="text" name="first_album_date" placeholder="First Album Date (YYYY-MM-DD)">
            <input type="text" name="location" placeholder="Location">
            <button type="submit">Search</button>
        </form>
    </div>
    
    
    <ol class="articles">
        {{ range . }}      
        <li class="articles__article" style="--animation-order:1">
            <a href=/artist/{{.Name}} class="articles__link">
                <div class="articles__content">
                    <img class="articles__img" src={{.Image}} alt="band">
                    <div class="title">{{.Name}}</div>
                </div>
            </a>
        </li>
        {{end}}
    </ol>

    
    <div id="made-by">Made by Kaizen</div>

    
    <div id="sakura-container"></div>

    
    <script src="/static/js/mainpage.js"></script>
</body>
</html>
